# =====================
# Maven
# =====================
/target/
*.log

# =====================
# Eclipse / EGit
# =====================
.classpath
.project
.settings/
.metadata/
.recommenders/

# =====================
# Java
# =====================
*.class

# =====================
# OS
# =====================
.DS_Store
Thumbs.db

# =====================
# Optional / Future
# =====================
.vscode/
*.jar
*.war
*.ear


# Maven
target/
*.log

# Eclipse
.settings/
.classpath
.project

# OS
.DS_Store
Thumbs.db